<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <script src="/assets/scripts/script.js"></script>
</head>
<body>
    <!--Barra de Navegação-->
    <div class="navbar">
      <div class="header-inner-content">
        <a href="{{ url_for('index') }}" class="logo"><img src="{{ url_for('static', filename='img/logo-garage2.png') }}" alt="Logo"></a>
          <nav>
            <ul>
              <li><a href="{{ url_for('index') }}">Porcelana</a></li>
              <li><a href="{{ url_for('index') }}">Pedra Natural</a></li>
              <li><a href="{{ url_for('index') }}">Cristal</a></li>
              <li><a href="{{ url_for('index') }}">Pérolas</a></li>
              <li><a href="{{ url_for('login') }}">Metal</a></li>
              <li><a href="{{ url_for('index') }}">Emborrachados</a></li>
          </ul>          
          </nav>
          <div class="nav-icon-container">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/instagram.png') }}" alt="Instagram"/></a>
            <a href="{{ url_for('login') }}"><img src="{{ url_for('static', filename='img/user.png') }}" alt="User"/></a>
            <a href="{{ url_for('carrinho') }}"><img src="{{ url_for('static', filename='img/cart.png') }}" alt="Carrinho"/></a>
            <img src="{{ url_for('static', filename='img/menu.png') }}" class="menu-button" alt="Menu"/>
        </div>
      </div>
    </div>
    <main>
    <div class="container-singup">
        <div class="signup-form">
        <h2>Cadastre-se</h2>
        <form action="{{ url_for('signup') }}" method="POST">
            <div class="form-group">
                <label for="username">Nome de Usuário</label>
                <input type="text" id="username" name="username" placeholder="Digite seu nome de usuário" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirme a Senha</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirme sua senha" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar">
            </div>
        </form>
        <div class="login-link">
            <p>Já tem uma conta? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </div>
</div>
    </main>
<footer class="pink-background">
    <div class="page-inner-content footer-content">
        <div class="download-options">
            <p>Baixe nosso Aplicativo</p>
            <p>Baixe nosso Aplicativo para Android e iOS</p>
            <div>
                <img src="/img/play-store.png" alt="" />
                <img src="/img/app-store.png" alt="" />
            </div>
        </div>
        <div class="logo-footer">
            <a href="/index.html" class="logo"><img src="/static/img/logo-garage.png"></a>
            <p>Ecommerce de Auto Peças</p>
        </div>
        <div class="links-footer">
            <h3>Links úteis</h3>
            <ul>
                <li>Cupons</li>
                <li>Blog Post</li>
                <li>Políticas</li>
                <li>Torne-se Afiliado</li>                    
            </ul>
        </div>
    </div>
      <hr class="page-inner-content"/>
      <div class="page-inner-content copyright">
        <p>Copyright 2024 - Pedro Vasconcelos  - Todos os Direitos Reservados</p>
      </div>
</footer>    
</body>
</html>