<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Venda de Terços </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>     
    </head>
<body>
    <!--Barra de Navegação--> 
    <div class="navbar">
        <div class="header-inner-content">
            <a href="{{ url_for('index') }}" class="logo"><img src="{{ url_for('static', filename='img/logo-garage2.png') }}" alt="Logo"></a>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Porcelana</a></li>
                    <li><a href="{{ url_for('index') }}">Pedra Natural</a></li>
                    <li><a href="{{ url_for('index') }}">Cristal</a></li>
                    <li><a href="{{ url_for('index') }}">Pérolas</a></li>
                    <li><a href="{{ url_for('index') }}">Metal</a></li>
                    <li><a href="{{ url_for('index') }}">Emborrachados</a></li>
                </ul>                
            </nav>
            <div class="nav-icon-container">
                {% if session.get('username') == 'admin' %}
                <a href="{{ url_for('admin') }}"><img src="{{ url_for('static', filename='img/admin.png') }}" alt="Admin"/></a>
                {% endif %}    
                {% if session.get('username') %}
                <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='img/logout.png') }}" alt="Admin"/></a>
                {% endif %}        
                <a href="{% if session.get('user_id') %}{{ url_for('user') }}{% else %}{{ url_for('login') }}{% endif %}">
                    <img src="{{ url_for('static', filename='img/user.png') }}" alt="User"/>
                </a>
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/instagram.png') }}" alt="Instagram"/></a>
                <a href="{{ url_for('carrinho') }}" class="cart-icon">
                <img src="{{ url_for('static', filename='img/cart.png') }}" alt="Carrinho"/>
                <!-- Sempre renderize o span para a contagem -->
                <span id="cart-count" class="cart-count">{{ quantidade_total if quantidade_total > 0 else 0 }}</span>
            </a>
            <img src="{{ url_for('static', filename='img/menu.png') }}" class="menu-button" alt="Menu"/> 
            </div>                        
        </div>
    </div>
    <main>
        <section>
            <h2>Suas Informações</h2>
            <p><strong>Nome:</strong> {{ user['username'] }}</p>
            <p><strong>Email:</strong> {{ user['email'] }}</p>
            <p><strong>Data de Registro:</strong> {{ user['created_at'] }}</p>
        </section>
        <section>
            <h2>Histórico de Compras</h2>
            {% if historico %}
            <table>
                <thead>
                    <tr>
                        <th>Imagem</th> <!-- Nova coluna -->
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                        <th>ID do Pagamento</th>
                        <th>Status</th>
                        <th>Repetir Compra</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in historico %}
                    <tr>
                        <td><img src="{{ url_for('static', filename=item.imagem) }}" alt="{{ item.produto_nome }}" style="width: 100px; height: 100px; object-fit: cover;"></td>
                        <td>{{ item.produto_nome }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>R$ {{ "%.2f"|format(item.preco_total) }}</td>
                        <td>{{ item.payment_id }}</td>
                        <td>
                            {% if item.status_pagamento == "approved" %}
                                <span style="color: green;">Aprovado</span>
                            {% elif item.status_pagamento == None %}
                                <span style="color: red;">Não identificado</span>
                            {% else %}
                                <span>{{ item.status_pagamento }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <form action="{{ url_for('repetir_compra') }}" method="post">
                                <input type="hidden" name="id" value="{{ item.id }}">
                                <input type="hidden" name="produto_nome" value="{{ item.produto_nome }}">
                                <input type="hidden" name="quantidade" value="{{ item.quantidade }}">
                                <input type="hidden" name="preco" value="{{ item.preco_total / item.quantidade }}">
                                <input type="hidden" name="imagem" value="{{ item.imagem }}"> <!-- Adiciona o campo da imagem -->
                                <button type="submit" class="repeat-btn">Repetir Compra</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>                                
            </table>            
            {% else %}
            <p>Você ainda não realizou nenhuma compra.</p>
            {% endif %}
        </section>
    </main>    
    <footer class="pink-background">
        <div class="page-inner-content footer-content">
            <div class="download-options">
                <p>Baixe nosso Aplicativo</p>
                <p>Baixe nosso Aplicativo para Android e iOS</p>
                <div>
                    <img src="/static/img/play-store.png"/>                                                       
                    <img src="/static/img/app-store.png"/>                    
                </div>
            </div>
            <div class="logo-footer">
                <a href="/index.html" class="logo"><img src="/static/img/Afeto.png"></a>
                <p>Ecommerce de Terços</p>
            </div>
            <div class="links-footer">
                <h3>Links úteis</h3>
                <ul>
                    <li>Cupons</li>
                    <li>Blog Post</li>
                    <li>Políticas</li>
                    <li>Torne-se Afiliado</li>                    
                </ul>
            </div>
        </div>
        <hr class="page-inner-content"/>
        <div class="page-inner-content copyright">
            <p>Copyright 2024 - Pedro Vasconcelos  - Todos os Direitos Reservados</p>
        </div>
    </footer>
    <script src="/assets/scripts/script.js"></script>
</body>
</html>